* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: .95rem;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.uploadBody {
    background: #F5F5F5 !important;
    height: 100vh;
    padding-bottom: 20px;
}

.containerUpload {
    max-width: 720px;
    width: 100%;
    height: 100%;
    background: #FFFFFF !important;
    border-color: #D6D7D6 !important;
    border: 1px solid #d6d7d6;
    padding: 1rem;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    padding: 5px 15px;
}

.medium-12 {
    width: 100%;
}

.pad-top {
    padding-top: 15px;
}

.top-title {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 14px;
}

.userName {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.userName > input {
    width: 45%;
    padding: 0.7rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
}

#ingrediantai {
    max-width: 100%;
    resize: vertical;
    width: 100%;
    min-height: 150px;
    max-height: 500px;
    padding: 0.7rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 20px;
}

#about {
    max-width: 100%;
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 0.7rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid rgb(164, 164, 228) !important;
  }

  input:hover, textarea:hover {
    border: 1px solid black !important;
  }

.cookTime > input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    margin-top: 8px;
}  

.uploadFile {
    margin-top: 15px;
    width: 100%;
}

.uploadFile > button {
    background: transparent;
    border: 3px solid var(--blue);
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 1rem;
}

.CreateRec {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}